/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ----------- General ----------*/

html {
  font-size: 16px;
}

body {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #393939;
  text-align: left;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #393939;
  text-decoration: none;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 1.75em;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

p {
  font-size: 1em;
  line-height: 1.375;
}

img {

}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

.content-wrapper {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

.container {
  min-width: 360px;
}

/* ---------- Base Header & Footer Styles ----------*/


header,
footer {
  background-color: #F8F8F5;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-flow: row wrap;

}




/* ---------- Header Styles ---------- */

header {
  align-items: flex-end;
  padding: 30px 0 0 0;

}

header .content-wrapper {
  width: 100%;
}

header figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header figure img {
  width: 45%;
}

.logo img {
  max-width: 200px;
}


header nav {
  background: #FF8B8B;
  margin-top: 20px;
  width: 100%;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid white;
  min-height: 40px;
  text-align: center;
  width: 100%;

}




/* ---------- Main (Hero) ----------*/

#hero {
  border-bottom: 10px solid #FFE693;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  background: url('../img/hero-tulips-cr.jpg') center no-repeat #FFe693;
  min-height: 125px;
}

#hero div {
  border-radius: 4px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.85);
  width: 95%; 
}

#hero h1 {
  color: #FF8B8B;
  font-weight: 400;
  font-style: italic;
}




/* ---------- Main (Welcome) ----------*/


#welcome img  {
  border-radius: 50%;
  max-width: 200px;
}

#welcome h2 {
  display: flex;
  margin: 0 0 20px 0;
  width: 100%;
}


#welcome p {
  margin-top: 0;
}


.welcome-flex-container {
  display: flex;
  justify-content: center;
  
}

#welcome .content-wrapper {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
}




/* ---------- Footer Styles ---------- */


footer {
  background: #BDC7B7;
}

footer .content-wrapper {
  margin: 0;
  padding: 50px 0 50px  0;
}

footer .footer-content h2 {
  display: flex;
  width: 100%;
}

footer h2 {
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
  width: 100%;
}

footer .contact-info {
  border: 1px solid pink;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

footer .social {
  border: 1px solid pink;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

footer .contact-info h3,
footer .contact-info p {
  display: flex;
  justify-content: center;
  text-align: center;
}

footer .contact-info h3 {

  margin: 0 0 10px 0;
}

footer .contact-info p {
  margin: 0 0 30px 0;
}

footer .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .social-icons p {
  font-size: 3em;
}

footer .social-icons a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #333;
}




/* Hide Tablet Content */

.tablet-content {
  display: none;
}

@media screen and (min-width: 768px) {
  .tablet-content {
    display:block;
  }
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

