/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ----------- General ----------*/

html {
  font-size: 16px;
}

body {
  font-size: 1em;
  font-family: 'Nunito Sans', sans-serif;
  color: #291919;
  text-align: left;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #291919;
  text-decoration: none;
}

h1 {
  color: 	#505050;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1.75em;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
}

p {
  font-size: 1em;
  line-height: 1.6125;
  font-weight: 300;
  font-family: 'Lora';
}


figure {
  margin: 0;
}

address {
  font-style: normal;
}

.content-wrapper {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

.container {
  min-width: 360px;
}

/* ---------- Base Header & Footer Styles ----------*/


header,
footer {
  
  display: flex;
  justify-content: center;
  align-items: left;
  flex-flow: row wrap;

}




/* ---------- Header Styles ---------- */

header {
  padding: 15px 0 0 0;
}

header .content-wrapper {
  margin: 0;
  width: 100%;
}

header figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header figure img {
  width: 45%;
}

.logo img {
  max-width: 200px;
}

header nav {
  background: #FF9A95;
  margin-top: 20px;
  width: 100%;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid white;
  min-height: 40px;
  text-align: center;
  width: 100%;
}






/* ---------- Main (Hero) ----------*/

#hero {
  border-bottom: 10px solid #FFE693;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  background: url('../img/hero-tulips-cr.jpg') center no-repeat #FFe693;
  background-size: cover;
  min-height: 125px;
}

/*
#hero .main-wrapper {
  width: 60%;
}
*/

#hero .content-wrapper {
  border-radius: 4px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  width: 95%; 
}

#hero h1 {
  font-weight: 300;
  padding: 0;
}






/* ---------- Main (Welcome) ----------*/


main img  {
  border: 3px solid #E26E6E;
  border-radius: 50%;
  max-width: 200px;
  display: flex;
  justify-content: center;
}

.main-top h2 {
  display: flex;
  margin: 0 0 20px 0;
  width: 100%;
  color:#E26E6E;
}

.main-top p {
  margin-top: 0;
}

.main-top .main-flex-container {
 display: flex;
}

.main-top .content-wrapper {
  padding: 50px 0 50px 0;
}

.main-top .paragraphs {
  width: 100%;
}

.main-top .paragraph {
  width: 100%;
}



/* ---------- Footer Styles ---------- */


footer {
  background: #BDC7B7;
}

footer .content-wrapper {
  margin: 0;
  padding: 50px 0 50px  0;
}

footer .footer-content h2 {
  display: flex;
  width: 100%;
}

footer h2 {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  width: 100%;
}

footer .contact-info {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
}

footer .contact-info h3,
footer .contact-info p {
  display: flex;
  justify-content: center;
  text-align: center;
}

footer .contact-info h3 {
  margin: 0 0 10px 0;
}

footer .contact-info p {
  margin: 0 0 30px 0;
}

footer .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .social {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  min-width: 200px;
}

footer .social p {
  font-size: 3em;
  margin: 0;
}

footer .social a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #333;
}






/* ---------- Main (Store) ---------- */

main .store-images {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
}

main .box-1,
main .box-2,
main .box-3 {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  height: 400px;
  width: 100%;
}

main .box-1 figure,
main .box-2 figure,
main .box-3 figure {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

main .store-images img {
  align-self: center;
}

main .box-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

main .box-wrapper p {
  display: flex;
  justify-content: center;
  max-width: 400px;
  width: 80%;
 
  text-align: center;
}

main .box-1,
main .box-3 {
  background: #F8F8F5;
}



/* ---------- Main Contact / Directions ---------- */

#directions p {
  font-family: 'Nunito Sans'; sans-serif;
}

#directions .form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 20px 0 30px 0;
}

.content-wrapper .input-text {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 25px;
  width: 100%;
}

.content-wrapper .input-text label,
.content-wrapper .input-text input,
.content-wrapper .input-text textarea {
  display: flex;
  width: 100%;
}

#directions label {
  margin-bottom: 5px;
}

#directions .form .input-field,
#directions .form textarea  {
  min-height: 40px;
  color: lightslategray;
  border: 2px solid #E26E6E;
  border-radius: 5px;
}

.content-wrapper .paragraphs {
  width: 100%;
}

#directions .content-wrapper,
#directions .form {
  justify-content: flex-start;
}



/* ---------- Main Contact/Directions - (Map Area) ---------- */

.map figure {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}




/* Hide Tablet Content */

.tablet-content {
  display: none;
}

@media screen and (min-width: 768px) {
  .tablet-content {
    display:block;
  }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



 /* Tablet Styles Here */

 @media screen and (min-width: 768px) {

  @media screen and (min-width: 768px) {
    #tablet-content {
      display:block;
    }

     .content-wrapper {
      max-width: 720px;

    }





/* ---------- General ---------- */




h2 {
  font-size: 2.3125em;
}

p {
  font-size: 1.125em;
}



/* ---------- Header/Footer main styles ---------- */



header nav ul li a {
  color: #E26E6E;
}

header nav ul li a:hover {
  border-top: 1px solid #E26E6E;
  border-bottom: 1px solid #E26E6E;
}

header {
  border-bottom: 10px solid #FFE693;
  padding: 30px 0 30px 0;
}

header .content-wrapper {
  justify-content: space-between;
  width: 85%;
}

header figure {
  justify-content: flex-start;
}

header nav {
  background-color: #Ffffff;
  width: 50%;
}

header nav ul {
  justify-content: space-around;
  max-width: 720px;
}

header nav ul li {
  display: flex;
  font-size: 1.125em;
  justify-content: center;
  align-items: center;
  border-top: none;
  min-height: 40px;
  text-align: center;
  width: 30%;
}

footer .content-wrapper {
  padding: 100px 0;
}




/* ---------- Main (Hero) ---------- */

#hero {
  min-height: 250px;
  justify-content: flex-start;
}

#hero .content-wrapper {
  width: 100%;
  min-height: 125px;
}

#hero .content-wrapper h1 {
  font-size: 2.125em;
  padding-left: 20px;
}





/* ---------- Main (Welcome) ---------- */


.main-top .content-wrapper {
  padding: 100px 40px 100px 40px;
}

.main-top  {
    border-bottom: 10px solid #FFE693;
}

.main-top img {
  display: flex;
  max-width: 250px;
}

.main-top .paragraphs { 
  max-width: 60%;
}

.main-top .main-flex-container {
  justify-content: space-between;
}



/* ---------- Main (Store) ---------- */



main .box-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  height: 400px;
  width: 100%;
  max-width: 720px;
}

main .box-wrapper img {
  max-width: 250px;
}

main .box-wrapper figure {
  display: flex;
  justify-content: flex-start;
}


/* ---------- Main (Contact/Directions) Map ---------- */

.map figure {
  padding-bottom: 45.5%;
}



#mobile-content { 
  display:none; 
}
@media screen and (max-width: 767px) {
  #mobile-content { 
    display:block; }
  }






/* ---------- Desktop Styles ----------*/


@media screen and (min-width: 1200px) {

   .content-wrapper {
      max-width: 960px;
    }

.main-flex-container {
  min-width: 960px;
}

header .content-wrapper {
  min-height: 200px;
}


/* ---------- General ----------*/


h2 {
  font-size: 2.25em;
}


/* ---------- Main Hero ----------*/


#hero {
  min-height: 350px;
}


/* ---------- Main Welcome ----------*/





.main-top h2 {
  font-size: 2.75em;
}

.main-top .paragraphs {
  max-width: 60%;
}

.main-top .welcome-img {
  display: flex;
  min-width:;
}


/*
.main-top .welcome img {
  min-width: 300px;
}
*/



/* ---------- Main Store ----------*/




.store-images .box-wrapper {
  max-width: 900px;
}

.store-images .box-wrapper p {
  max-width: 550px;
}

.store .content-wrapper .paragraphs {
  max-width: 65%;
}


/* ---------- Main (Contact/Directions) Map ----------*/

.map figure {
  padding-bottom: 37.5%;
}


@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

